<h1 class="creedtext"> Contact</h1>



<main class="contactcontainer">

    <p class="officerstyle"> <a href="officers">Chapter Officers</a></p>
    <p><b>Address</b></p>
    <p>309 NW 26th St. Corvallis, OR 97330</p>
    <p><b>Phone Number</b></p>
    <p>(541) 753-5030</p>

    <div class="social"> 
        <p class="officerstyle"><a href="https://www.facebook.com/osu.ato/?fref=ts">Facebook</a> </p>
        <p class="officerstyle"><a href="https://www.instagram.com/osu.ato/">Instagram</a> </p>
        <p class="officerstyle"> <a href="https://www.linkedin.com/company/osuato/about/">LinkedIn</a> </p>
        


    </div>

</main>


