
<h1 class="creedtext"> The ATO Creed</h1>

<p class="creed"> <i>To bind men together in a brotherhood based upon eternal and immutable principles, with a bond as strong as right itself and as lasting as humanity; to know no North, no South, no East , no West, but to know man as man, to teach that true men the world over should stand together and contend for supremacy of good over evil; to teach, not politics, but morals; to foster, not partisanship, but the recognition of true merit wherever found; to have no narrower limits within which to work together for the elevation of man than the outlines of the world. These were the thoughts and hopes uppermost in the minds of the founders of the Alpha Tau Omega Fraternity.</i> --- Otis Allan Glazebrook, 1880


</p>

<p class="creed"> 
    Alpha Tau Omega was the first fraternity founded after the Civil War with the goal to repair the divide country by reuniting the youth of the North and South. ATO was also the first fraternity founded as a national organization, founded not in imitation or in opposition to any existing fraternity, and the first fraternity founded on Christian values.
    We at the Alpha Sigma chapter of ATO pride ourselves on being more than just a fraternity, but a family. One of our defining characteristics is a close-knit brotherhood where everyone has a personal relationship with each other. 

</p>