<img src="/images/house2.jpg" alt="test" class="resize">


<p class="home">Welcome to Alpha Tau Omega, Sigma Alpha chapter at Oregon State University.

</p>

<p class="home">Our mission as a chapter is to help develop men to become leaders of our 
    community at Oregon State and leaders later in their life, professional or otherwise. Nationally 
    we offer many leadership development opportunities such as LeaderShape, Altitude, and Encounter; programs 
    that were created by ATO Nationals, some of which have branched out to be employed by many other fraternities 
    and sororities. We strive to give men the chance to have their voices be heard, be part of something bigger than themselves, 
    and develop bonds with brothers that will last a lifetime.

</p>

<p class="home">

</p>


<img src="/images/ATO.png" alt="test" class="atoresize">

<p class="home">

</p>
