<h1 class="creedtext"> Chapter Officers</h1>



<main class="officercontainer">
    <article class="twit">
        <p class="position">President</p>
        <p class="name">Aaron Arvidson</p>
        <p class="email"> <a href="mailto: arvidsoa@oregonstate.edu">arvidsoa@oregonstate.edu </a></p>

    </article>
    <article class="twit">
        <p class="position">Vice President</p>
        <p class="name">Max Balakas</p>
        <p class="email"> <a href="mailto: Balakasm@oregonstate.edu">Balakasm@oregonstate.edu</a></p>

    </article>
    <article class="twit">
        <p class="position">Chaplain</p>
        <p class="name">Anders Rosenquist</p>
        <p class="email"> <a href="mailto: rileylo@oregonstate.edu">rileylo@oregonstate.edu </a></p>
       

    </article>
    <article class="twit">
        <p class="position">Treasurer</p>
        <p class="name">Derek Fish</p>
        <p class="email"> <a href="mailto: rileylo@oregonstate.edu">rileylo@oregonstate.edu </a></p>

    </article>

    <article class="twit">
        <p class="position">Recruitment Chair</p>
        <p class="name">John Hackethorn III</p>
        <p class="email"> <a href="mailto: hackethj@oregonstate.edu">hackethj@oregonstate.edu </a></p>

    </article>
    <article class="twit">
        <p class="position">Health and Safety Officer</p>
        <p class="name">Logan Riley</p>
        <p class="email"> <a href="mailto: rileylo@oregonstate.edu">rileylo@oregonstate.edu </a></p>

    </article>

    </article>
    <article class="twit">
        <p class="position">Scribe</p>
        <p class="name">Andrew Smith</p>
        <p class="email"> <a href="mailto: rileylo@oregonstate.edu">rileylo@oregonstate.edu </a></p>

    </article>
    <article class="twit">
        <p class="position">Historian</p>
        <p class="name">Max Solomon</p>
        <p class="email"> <a href="mailto: rileylo@oregonstate.edu">rileylo@oregonstate.edu </a></p>

    </article>


</main>
